<div class="exp0 row">
  <div class="col-lg-6">
    <div class="slidy-breadcrumb">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4><small>Breadcrumb</small></h4>
        </div>
        <div class="panel-body">
          <div class="panel-body-inner row">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>