<div class="row">
  <div class="col-lg-2">
    <h1 class="page-header">La Galerie</h1>
    <p>Cette partie contient les liens vers les différents sites sur lesquels j'ai collaboré, en tant que développeur, graphiste et/ou intégrateur,en freelance ou via l'agence.</p>
  </div>
  <div class="col-lg-10 page-header">
    <div class="row thumbnails">
      {{#each site in model}}
      <div class="col-6 col-lg-3">
        <div class="thumbnail-item">
          <div class="view">
            <a {{bindAttr href="site.link"}} class="thumbnail" target="_blank">
              <img data-src="holder.js/100%x180" {{bindAttr src="site.img"}} alt="">
              <div class="caption">
                {{site.nom}}
              </div>
            </a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>