<h1 class="text-indent-out clearmargins noheight">
  <span>WebInMind - Du web dans les veines</span>
</h1>

<div class="container">
  <div class="logo-baseline">
    <img {{bind-attr src="controller.logoUrl"}} class="img img-responsive" alt="WebInMind - Du Web dans les veines" title="WebInMind - Du Web dans les veines" />
  </div>
  <div class="home-content">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <ul class="list-unstyled">
          <li><p>Ce site est développé en Ember ...</p></li>
          <li><p>Basé sur le Bootstrap 3 ...</p></li>
          <li><p>Le style est du Less ...</p></li>
          <li><p>Compilé en CSS3 responsive...</p></li>
          <li><p>Avec Grunt ...</p></li>
          <li><p>What else ?</p></li>
        </ul>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <p>Arnaud Szobad, développeur-intégrateur au sein de la société <a href="http://www.kiwixi.com">Kiwixi</a></p>
        <p>Ce site se veut une petite vitrine de mes {{#linkTo 'experiments'}} essais{{/linkTo}} en Less, ainsi que de mes progrès en Ember et en Node</p>
        <p>Que de promesses ...</p>
      </div>
    </div>
  </div>
</div>